.header {
  align-items: center;
  background-color: var(--color-bg-card);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
  @media (min-width: 1024px) {
    padding: 16px 48px;
  }
}

.header-action {
  display: none;
  position: relative;
  @media (min-width: 1024px) {
    display: block;
  }
}

.header-action__button {
  align-items: center;
  border-radius: 16px;
  border: 1px solid transparent;
  display: flex;
  gap: 8px;
  padding: 8px;
  &:hover {
    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    background-color: var(--color-bg-raised);
    border-color: var(--color-border);
  }
}

.header-action__avatar {
  align-items: center;
  background-color: var(--color-accent-primary);
  border-radius: 16px;
  color: var(--color-bg-base);
  display: flex;
  font-weight: var(--font-weight-bold);
  height: 36px;
  justify-content: center;
  width: 36px;
}

.header-action__name {
  color: var(--color-text-heading);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.5px;
}

.header-action__menu {
  background-color: var(--color-bg-base);
  border-radius: 16px;
  box-shadow: var(--shadow-md);
  margin-top: 4px;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  a {
    align-items: center;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: var(--color-bg-raised);
    }
  }
}
