.page-layout {
  background-color: var(--color-bg-card);
  min-height: 100svh;
}

.page-layout__content {
  padding: 0 16px 32px;
  @media (min-width: 1024px) {
    padding: 0 24px 32px;
    display: flex;
    gap: 32px;
    > * {
      &:first-child {
        flex-shrink: 0;
        width: 280px;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}

.page-layout__content-main {
  max-width: 1080px;
}
