.sidebar__content {
  background-color: var(--color-accent-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  @media (max-width: 1023px) {
    bottom: 0;
    left: 0;
    padding: 16px 8px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  @media (min-width: 1024px) {
    height: calc(100svh - 126px);
    padding: 8px;
    position: sticky;
    top: 86px;
  }
}

.sidebar__content--open {
  transform: translateX(0);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > * {
    &:first-child {
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}

.sidebar__back-button {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
}

.sidebar__nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  a {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-bold);
    gap: 12px;
    padding: 8px 16px;
    @media (min-width: 1024px) {
      border-radius: 16px;
      padding: 12px 16px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: var(--color-accent-primary);
      }
    }
  }
}

.sidebar__footer {
  align-items: center;
  background-color: var(--color-accent-tertiary);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.sidebar__profile {
  align-items: center;
  display: flex;
  gap: 8px;
}

.sidebar__profile-avatar {
  align-items: center;
  background-color: var(--color-accent-primary);
  border-radius: 16px;
  color: var(--color-bg-base);
  display: flex;
  font-weight: var(--font-weight-bold);
  height: 36px;
  justify-content: center;
  width: 36px;
}

.sidebar__profile-name {
  color: var(--color-text-heading);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.5px;
}

.sidebar__actions {
  display: flex;
  gap: 4px;
  a {
    align-items: center;
    color: var(--color-text-heading);
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    span {
      display: none;
    }
  }
}

.sidebar__menu-button {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 16px;
  position: absolute;
  right: 100%;
  top: 18px;
  width: 32px;
  @media (min-width: 1024px) {
    display: none;
  }
}
