.sidebar__nav {
  background-color: var(--color-accent-secondary);
  border-radius: 16px;
  height: calc(100svh - 126px);
  padding: 8px;
  position: sticky;
  top: 86px;
  z-index: 100;
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  a {
    align-items: center;
    border-radius: 16px;
    display: flex;
    font-weight: var(--font-weight-bold);
    gap: 12px;
    padding: 12px 16px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--color-accent-primary);
    }
  }
}
