.form-admin {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: 1024px) {
    gap: 32px;
  }
}

.form-admin__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
