.form-basic-container {
  display: grid;
  gap: 8px;
  @media (min-width: 1024px) {
    grid-template-columns: 200px 1fr;
  }
}

.form-basic__title {
  color: var(--color-text-heading);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.form-basic {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.form-basic__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    color: var(--color-text-heading);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
  }
  input {
    border-radius: 10px;
    border: 1px solid var(--color-border);
    color: var(--color-text-body);
    font-size: var(--font-size-sm);
    padding: 12px 16px;
    width: 100%;
    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }
}

.form-detail-container {
  display: grid;
  gap: 8px;
  @media (min-width: 1024px) {
    grid-template-columns: 200px 1fr;
  }
}

.form-detail__title {
  color: var(--color-text-heading);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.form-detail {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.form-detail__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    color: var(--color-text-heading);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
  }
  input {
    border-radius: 10px;
    border: 1px solid var(--color-border);
    color: var(--color-text-body);
    font-size: var(--font-size-sm);
    padding: 12px 16px;
    width: 100%;
    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }
  textarea {
    border-radius: 10px;
    border: 1px solid var(--color-border);
    color: var(--color-text-body);
    font-size: var(--font-size-sm);
    padding: 12px 16px;
    width: 100%;
  }
}

.form-detail__field-full-width {
  grid-column: span 2;
}
