.field-basic-info {
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(min-content, 1fr);
  @media (min-width: 1024px) {
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  }
}
