.form-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: 1024px) {
    gap: 32px;
  }
}

.form-layout__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-layout__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-layout__actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  button {
    width: 200px;
  }
}
.form-layout__section {
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(min-content, 1fr);
  @media (min-width: 1024px) {
    grid-template-columns: 200px minmax(min-content, 1fr);
  }
}

.form-layout__section-title {
  color: var(--color-text-heading);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.form-layout__title {
  color: var(--color-text-heading);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}
