.form-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: 1024px) {
    gap: 32px;
  }
}

.form-layout__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-layout__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-layout__actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  button {
    align-items: center;
    background-color: var(--color-accent-primary);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-medium);
    gap: 8px;
    justify-content: center;
    padding: 12px 16px;
    transition: background-color 0.2s ease-in-out;
    width: 200px;
    @media (min-width: 1024px) {
      &:hover {
        background-color: var(--color-accent-tertiary);
      }
    }
  }
}
