.role-option {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--color-bg-raised);
  input {
    display: none;
  }
  @media (min-width: 1024px) {
    &:hover {
      background-color: var(--color-accent-primary);
    }
  }
}

.role-option--checked {
  background-color: var(--color-accent-primary);
}

.role-option__label {
  color: var(--color-text-heading);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}
