.stepper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.stepper__step {
  align-items: center;
  border-radius: 10px;
  color: var(--color-text-heading);
  display: flex;
  font-weight: var(--font-weight-medium);
  gap: 8px;
  padding: 4px;
  @media (min-width: 1024px) {
    &:hover {
      &:not([disabled]) {
        .stepper__step-number {
          background-color: var(--color-accent-primary);
        }
      }
    }
  }
}

.stepper__step-number {
  align-items: center;
  background-color: var(--color-bg-raised);
  border-radius: 10px;
  color: var(--color-text-heading);
  display: flex;
  font-weight: var(--font-weight-medium);
  height: 32px;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  width: 32px;
}

.stepper__step-number--current {
  background-color: var(--color-accent-primary);
}
